{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-cards">
    <div class="card">
        <h3>Total de Clientes</h3>
        <p>{{ data.total_clientes }}</p>
    </div>
    <div class="card">
        <h3>Total de Produtos</h3>
        <p>{{ data.total_produtos }}</p>
    </div>
    <div class="card">
        <h3>Total de Notas</h3>
        <p>{{ data.total_notas }}</p>
    </div>
    <div class="card">
        <h3>Total de Volumes</h3>
        <p>{{ data.total_volumes }}</p>
    </div>
</div>
{% endblock %}